@model DCT.Monitor.Server.Models.ChangePasswordModel
@using DCT.Monitor.Server.Helpers

@{
    ViewBag.Title = "ChangePassword";
	ViewBag.CurrentMenuItem = "changepassword";
	Layout = @"~/Views/Shared/_SimpleLayout.cshtml";
}

<div id="form" class="single">
	 <p>Change your password</p>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
		<fieldset class="signin">
			<div class="field">
				<div class="error">
					@Html.ValidationMessageFor( m => m)
				</div>
			</div>
			<div class="field">
				<label>
					Enter your current password 
				</label>
				<div class="border">
					@Html.PasswordFor(m => m.OldPassword, new { Class = "short" })
				</div>
				<div class="error">
					@Html.ValidationMessageFor(m => m.OldPassword)
				</div>
			</div>
			<div class="field">
				<label>
					Enter a new password
				</label>
				<div class="border">
					@Html.PasswordFor(m => m.NewPassword, new { Class = "short" })
				</div>
				<div class="error">
					@Html.ValidationMessageFor(m => m.NewPassword)
				</div>
			</div>
			<div class="field">
				<label>
					Confirm new password
				</label>
				<div class="border">
					@Html.PasswordFor(m => m.ConfirmPassword, new { Class = "short" })
				</div>
				<div class="error">
					@Html.ValidationMessageFor(m => m.ConfirmPassword)
				</div>
			</div>
			<div class="buttons">
				@Url.MyHome().AsLinkButton("Back", "back", "grey button back")
				<input type="submit" class="button orange" value="Change" />
			</div>
		</fieldset>
    }
</div>

@section scripts {
}
