@model DCT.Monitor.Server.Models.ForgotPasswordModel		  
@using DCT.Monitor.Server.Helpers;

@{
    ViewBag.Title = "Forgot Password?";
	Layout = @"~/Views/Shared/_SimpleLayout.cshtml";
	ViewBag.CurrentMenuItem = "forgotpassword";
}

<div id="form" class="single">
<p>Forgot your password?</p>
	@*@Html.ValidationSummary("ForgotPasswordError")*@
	@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
	{
	 <fieldset class="signin">
		 <div class="field">
			<label>Enter your User Name</label>
			<div class="border">
				@Html.TextBoxFor(m => m.UserName, new { Class = "short" }) 
			</div>
			<div class="error">
				@Html.ValidationMessageFor(m => m.UserName)
			</div>
		 </div>
		@Html.Hidden("ProviderId") 
		@Html.Hidden("ProviderUserId")
		<div class="buttons">
			@Url.MyHome().AsLinkButton("Back", "back", "grey button back")
			<input type="submit" class="button orange" value="Restore" />
		</div>
		<div class="info">
            <label for="termsaccept">
				@Url.Logon().AsLink("Sign in")
				 @Url.Register().AsLink("Sign up")
			</label>
		</div>
	</fieldset>
    } 
</div>

@section scripts {
}